# ============================
# Python virtual environments
# ============================
.venv/
.venv_spark/
venv/

# ============================
# Environment variables
# ============================
.env

# ============================
# Python cache
# ============================
__pycache__/
*.py[cod]
*$py.class

# ============================
# Testing & Coverage
# ============================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ============================
# Logs
# ============================
logs/
*.log

# ============================
# Streamlit
# ============================
.streamlit/secrets.toml

# ============================
# OS / Editor
# ============================
.DS_Store
Thumbs.db
.vscode/

# ============================
# Jupyter
# ============================
.ipynb_checkpoints/

# ============================
# Spark
# ============================
metastore_db/
spark-warehouse/

# ============================
# Temporary files
# ============================
*.tmp
*.bak
*.swp

# ============================
# Build artifacts
# ============================
dist/
build/